.heroes-container {
  text-align: center;
  padding: 0.5em;

  @include from($max-width) {
    width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    margin-top: 1em;
  }

  .hero {
    position: relative;
    margin-bottom: 2em;
    overflow: hidden;

    @include from($max-width) {
      margin: 0;
      cursor: pointer;

      &:hover {
        .hero-description {
          bottom: 0;
        }
      }
    }

    &-name {
      font-size: 1em;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
      background: rgba($black, .9);
      color: $white;
      border-bottom: 2px solid $secondary-color;  
    }

    &-image {
      @include from($max-width) {
        width: 350px;
      }
    }

    &-description {
      position: absolute;
      bottom: -100%;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
      background: rgba($black, .95);
      color: $white;
      transition: all .5s ease;
      font-size: 0.9em;
      font-family: $font-title;
      padding: 0.3em;
    }
  }
}
