.lightbox {
  width: 100%;
  height: 100vh;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(black, .9);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lightbox-container {
  text-align: center;
  background: $white;
  padding: 0.2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;


  @include from($max-width) {
    width: 33%;
    margin: 0 auto;
    height: 90%;
  }
}

.lightbox-description {
  color: $principal-color;
  font-weight: 600;
}

.lightbox-navigation__counter {
  font-size: .8em;
}


.next {
  position: absolute;
  top: 45%;
  right: -20px;

  &::after {
    content: url('https://image.flaticon.com/icons/svg/180/180000.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid $white;
  }
}

.prev {
  position: absolute;
  top: 45%;
  left: -20px;
  
    &::after {
      content: url('https://image.flaticon.com/icons/svg/179/179983.svg');
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      z-index: 10;
      background: white;
      border-radius: 50%;
      border: 1px solid $white;
    }
}

.close-modal {
  position: relative;
  
    &::after {
      content: url('https://image.flaticon.com/icons/svg/148/148766.svg');
      position: absolute;
      top: -20px;
      right: -20px;
      width: 35px;
      height: 35px;
      z-index: 10;
      border-radius: 50%;
      border: 2px solid $black;
    }
}




